
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/juicy-html/juicy-html.html">

<dom-module id="js-questions">
  <!-- Defines the element's style and local DOM -->
  <template>

    <style>
      :host {
        display: block;
        padding: 16px;
      }

      .test {
        margin-bottom: 20px;
      }
    </style>

    <h1>JS Questions</h1>

    <p>Suus satis. Quod etiam optime. Vos ite post eum, fistulae, nunquam vivum exire ab ea. Sed cum hoc ... excidit tibi in cibo aut in potu, aut: olefac Elegantioris non sit ... triginta sex horae post ... Poof. Vir aetatis operantes, dura sicut facit ... nemo mirabatur. Mike suspectas habere possunt, sed quod omnes illi eris. Obsecro, unum homicidam maniaco tempore.
      Ecce dabo Pinkman Isai OK? Sicut locutus est tibi, et datus est, et hic sine Semper consequat volumus ... et ille in urbe ista licet? Et infernus, ubi tu non Virginiae ornare vel ipsum. Ut enim Albuquerque et ille eum iure hic, et ego ducam te ad iustitiam. Quid dicis?
      At nolo de me ipso turpis. Ut nullam curae. Scis quid mihi quod infernum sit amet nunc magis animum, nunc eros eget quam cogitatione emptio damnat. Purus? Sic, si fieri justi ... amabo.
      Prohibere. Striga! Ut custodiant te sermonem dicens - periculi ... periculo! Non ego illud numquam. Dixi sunt implicatae. Elatus deinde manubrio! </p>

    <iron-ajax auto
          url="questions.json"
          handle-as="json"
          last-response="{{taskLoaded}}">
    </iron-ajax>

    <template is="dom-repeat" items="{{taskLoaded.questions}}" >

      <paper-card heading="Question {{index}}" class="white test">

        <div class="card-content">
          <div># <span>{{index}}</span></div>
          {{item.question}}
        </div>

        <div class="card-actions">
          <!--<paper-button>Explore</paper-button> potentil link to a plunker-->
          <paper-button id={{index}} on-click="toggle">Show {{index}}</paper-button>
          <!--<paper-icon-button icon="hardware:keyboard-arrow-up" title="more info" onclick="toggleSelection" style="float:right;">-</paper-icon-button>-->
          <iron-collapse id="moreinfo{{index}}" style="max-width:100%;">
            <template is="juicy-html" content="{{item.answer}}"></template>
            stuff
          </iron-collapse>
        </div>

      </paper-card>

    </template>

  </template>

  <!-- Creates the element's prototype and registers it -->
  <script>
    Polymer({
      is: 'js-questions',
      ready: function() {
      },
      properties: {
        route: Object
      },
      toggle: function (e){
        document.querySelector('#moreinfo'+e.model.index).toggle();
      }
    });
  </script>
</dom-module>
